/* .image-wrapper::before {
    content: "";
    position: absolute;
    right: -100px;
    top: 40%;
    height: 400px;
    width: 500px;
    background-color: blue;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
} */

.tab-active {
    position: relative;
}

.tab-active::before {
    position: absolute;
    content: "";
    bottom: 0;
    border-bottom: 2px solid red;
    width: 75%;
    left: 12.5%;
}

.bg-dots {
    background-image: url('./assets//images/bg-dots.svg');
}

.extensions-card:nth-child(2) {
    position: relative;
    top: 30px;
}

.extensions-card:nth-child(3) {
    position: relative;
    top: 60px;
}